/* Other-Project section end */
.other-wrapper {
  padding: 0 255px 100px 255px;
}

.title_wrapper_project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_wrapper_project hr {
  width: 32.8%;
  border: 1px solid #1f1f1f;
  opacity: 0.5;
}

.title_wrapper_project h2 {
  margin: 0 10px;
}

.other_project_info {
  margin-bottom: 22px;
}

.other_project_info_top {
  display: flex;
  margin-top: 38px;
}

.other_project_info_top_l,
.other_project_info_top_r {
  display: flex;
  margin-bottom: 26px;
  transition: 0.6s ease-in-out;
}

.other_project_info_top_l:hover,
.other_project_info_top_r:hover {
  padding: 5px;
  border-radius: 5px;
  box-shadow: -5px 7px 23px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 7px 23px 3px rgba(0, 0, 0, 0.75);
}

.other_project_info_top_l_l {
  width: 90px;
  height: 90px;
  background: #c4c4c4;
  margin-right: 15px;
}

.other_project_info_top_l_r {
  flex: 2;
}

.other_project_info_top_l_r h4 {
  line-height: 29.05px;
  font-size: 24px;
  font-weight: 400;
}

.other_project_info_top_l_r p,
.skill {
  line-height: 23.8px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.other_project_info_bottom {
  display: flex;
}

/* Other-Project section end */

@media screen and (max-width: 1349px) {
  .fname,
  .lname,
  .mobile {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1345px) {
  .fname,
  .lname {
    margin-left: 15px;
  }

  .mobile {
    margin-left: 18px !important;
  }

  .email {
    margin-left: 50px !important;
  }

  .formDiv textarea {
    width: 68%;
  }
}

@media screen and (max-width: 1336px) {
  .formDiv {
    padding: 50px 100px;
  }

  .formDiv > div {
    justify-content: flex-start;
  }

  .formDiv textarea {
    width: 57%;
    margin-left: 25px;
  }
}

@media screen and (max-width: 1332px) {
  .info_img div {
    width: 190px;
    height: 190px;
  }

  @keyframes divCircle {
    0% {
      width: 195px;
      height: 200px;
      transform: rotate(120deg);
    }
    25% {
      width: 190px;
      height: 190px;
      transform: rotate(180deg);
    }
    50% {
      width: 195px;
      height: 200px;
      transform: rotate(260deg);
    }
    100% {
      width: 195px;
      height: 200px;
      transform: rotate(65deg);
    }
  }
}

@media screen and (max-width: 1300px) {
  .formDiv textarea {
    width: 62%;
  }
}

@media screen and (max-width: 1269px) {
  .formDiv {
    padding: 45px 80px;
  }

  .formDiv textarea {
    width: 57%;
  }
}
@media screen and (max-width: 1252px) {
  .info_img div {
    width: 185px;
    height: 185px;
    left: 68px;
    top: -10px;
  }

  @keyframes divCircle {
    0% {
      width: 190px;
      height: 195px;
      transform: rotate(120deg);
    }
    25% {
      width: 185px;
      height: 185px;
      transform: rotate(180deg);
    }
    50% {
      width: 190px;
      height: 195px;
      transform: rotate(260deg);
    }
    100% {
      width: 185px;
      height: 185px;
      transform: rotate(65deg);
    }
  }
}

@media screen and (max-width: 1212px) {
  .common-wrapper {
    padding: 100px 220px 100px 220px;
  }
}

@media screen and (max-width: 1212px) {
  #header {
    padding: 25px 120px 25px 130px;
  }

  .info_img div {
    left: 62px;
  }
}

@media screen and (max-width: 1203px) {
  .formDiv {
    padding: 45px 70px;
  }

  .formDiv textarea {
    width: 62%;
  }
}

@media screen and (max-width: 1203px) {
  .formDiv textarea {
    width: 58%;
  }
}

@media screen and (max-width: 1186px) {
  .other-wrapper {
    padding: 0 220px 100px 220px;
  }
}

@media screen and (max-width: 1166px) {
  .info_title {
    font-size: 66px;
  }

  .info_img div {
    width: 170px;
    height: 170px;
    left: 60px;
    top: -8px;
  }

  @keyframes divCircle {
    0% {
      width: 175px;
      height: 175px;
      transform: rotate(120deg);
    }
    25% {
      width: 170px;
      height: 170px;
      transform: rotate(180deg);
    }
    50% {
      width: 175px;
      height: 175px;
      transform: rotate(260deg);
    }
    100% {
      width: 170px;
      height: 170px;
      transform: rotate(65deg);
    }
  }
}

@media screen and (max-width: 1136px) {
  .formDiv {
    padding: 45px 50px;
    width: 65%;
  }
}

@media screen and (max-width: 1115px) {
  .info_img div {
    width: 165px;
    height: 165px;
    left: 52px;
    top: -8px;
  }

  @keyframes divCircle {
    0% {
      width: 170px;
      height: 170px;
    }
    25% {
      width: 165px;
      height: 165px;
    }
    50% {
      width: 170px;
      height: 170px;
    }
    100% {
      width: 165px;
      height: 165px;
    }
  }
}

@media screen and (max-width: 1081px) {
  .info_title {
    font-size: 60px;
  }

  .info_img div {
    width: 150px;
    height: 150px;
    left: 50px;
    top: -8px;
  }

  @keyframes divCircle {
    0% {
      width: 155px;
      height: 155px;
    }
    25% {
      width: 150px;
      height: 150px;
    }
    50% {
      width: 155px;
      height: 155px;
    }
    100% {
      width: 150px;
      height: 150px;
    }
  }

  .btn {
    width: 80px;
  }
}

@media screen and (max-width: 1057px) {
  .formDiv {
    width: 75%;
  }

  .formDiv textarea {
    width: 55%;
  }
}

@media screen and (max-width: 1024px) {
  .common-wrapper {
    padding: 50px 120px 50px 120px;
  }

  .title {
    font-size: 30px;
    line-height: 35.57px;
    margin: 0 10px;
  }

  #header {
    padding: 25px 50px 25px 50px;
  }

  .wrapper {
    flex-direction: column;
  }

  .header_left {
    margin-bottom: 25px;
    width: 100%;
  }

  .navbar {
    width: 100%;
    display: none;
    flex-direction: column;
    top: 0;
  }

  .header_right {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .menu_icon {
    display: block;
    position: absolute;
    right: 0;
    top: -48px;
    font-size: 24px;
    border: 1px solid #1f1f1f;
    padding: 2px 5px;
    cursor: pointer;
  }

  .show.navbar_left,
  .show.navbar_right {
    display: block;
  }

  .navbar_left {
    width: 100%;
  }

  .navbar_left ul {
    width: 100%;
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
  }

  .navbar_left ul li {
    width: 100%;
  }

  .navbar_left ul li a {
    width: 100%;
    display: block;
  }

  .navbar_left ul li a:hover {
    background: teal;
    color: white;
  }

  .sub_nav ul {
    margin-left: 100px;
  }

  .navbar_right {
    flex-direction: column;
  }

  .btn {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .wrapper_info {
    flex-direction: column;
  }

  .Info {
    margin-top: 130px;
  }

  .info_down_icon {
    bottom: -35px;
  }

  .info_title {
    font-size: 60px;
    line-height: 65.2px;
  }

  .info_desc {
    font-size: 22px;
  }

  .info_img img {
    animation: none;
  }

  .info_img div {
    display: none;
  }
  .other-wrapper {
    padding: 50px 120px;
  }

  .experience_top_left h4 {
    padding-left: 8px;
  }

  .experience_top_left h6 {
    padding-left: 8px;
  }

  .info_img {
    margin-top: 30px;
  }

  .formDiv {
    width: 55%;
  }
  .experience_bottom {
    display: flex;
    transition: 0.6s ease-in-out;
    margin: 0 auto;
  }
}

@media screen and (max-width: 968px) {
  .about_me_info {
    display: block;
  }

  .about_me_info_left {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
    justify-content: center;
  }

  .about_me_info_right {
    display: block;
    text-align: center;
  }

  .title_wrapper_featured hr {
    display: none;
  }

  .feat_pro_in_top_l,
  .feat_pro_in_bottom_r {
    width: 100%;
  }
}

@media screen and (max-width: 958px) {
  .experience_top_left p {
    font-size: 12px;
  }
}

@media screen and (max-width: 930px) {
  .experience_top_left h6 {
    font-size: 14px;
  }
}

@media screen and (max-width: 899px) {
  .experience_top_left h6 {
    font-size: 14px;
  }

  .experience_top_left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 887px) {
  .formDiv {
    width: 60%;
  }

  .formDiv textarea {
    width: 59%;
  }
}

@media screen and (max-width: 875px) {
  .experience_top_left h4,
  .experience_top_left h6,
  .experience_top_left p {
    margin-left: 0px;
    text-align: center;
  }

  .experience_bottom_right p {
    text-align: center;
  }

  .experience_top_left h4 {
    padding-left: 0px;
  }

  .experience_top_left h6 {
    padding-left: 0px;
  }

  .experience_top {
    display: block;
  }

  .experience_top_right ul li,
  .experience_bottom_left ul li {
    list-style: none;
    text-align: justify;
  }

  .experience_top_left hr {
    display: none;
  }

  .experience_border,
  .experience_border_sec,
  .experience_bottom_right hr {
    display: none;
  }

  .experience_bottom {
    flex-direction: column;
  }

  .experience_bottom_right {
    text-align: center;
  }

  .experience_top_left {
    text-align: center;
  }

  .experience_top_right {
    flex: 2;
    text-align: justify;
  }

  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 868px) {
  p {
    text-align: justify;
  }
  .title_wrapper_featured h2 {
    font-size: 30px;
    line-height: 35s.57px;
  }

  .featured_project_info_top {
    flex-wrap: wrap;
  }

  .featured_project_info_bottom {
    flex-wrap: wrap;
  }

  .feat_pro_in_bottom_l h3,
  .feat_pro_in_bottom_l p,
  .feat_pro_in_bottom_l hr,
  .feat_pro_in_bottom_l .skill,
  .feat_pro_in_bottom_l .icon {
    text-align: start;
  }

  .feat_pro_in_top_r h3,
  .feat_pro_in_bottom_l h3 {
    font-size: 24px;
  }

  .feat_pro_in_top_r p,
  .feat_pro_in_bottom_l p {
    font-size: 14px;
  }

  .skill span {
    font-size: 12px;
  }

  .title_wrapper_project hr {
    display: none;
  }

  .other-wrapper {
    padding: 0 120px 100px 120px;
  }

  .other_project_info_top,
  .other_project_info_bottom {
    flex-wrap: wrap;
  }

  .contact_title_wrapper hr {
    display: none;
  }
  .title_wrapper hr {
    display: none;
  }

  .feat_pro_in_top_l,
  .feat_pro_in_bottom_r {
    width: 95%;
    margin: 0 auto;
  }

  .formDiv textarea {
    width: 62%;
  }
}

@media screen and (max-width: 834px) {
  .formDiv {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .contact_form {
    width: 90%;
  }

  .info_title {
    font-size: 50px;
    line-height: 50.2px;
  }

  .info_desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 787px) {
  .formDiv {
    width: 70%;
  }

  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 766px) {
  .formDiv textarea {
    width: 64%;
  }
}

@media screen and (max-width: 755px) {
  .formDiv textarea {
    width: 65%;
  }
}

@media screen and (max-width: 755px) {
  .formDiv {
    width: 75%;
  }

  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 725px) {
  .contact_form {
    width: 90%;
  }

  .contact_form p {
    font-size: 14px;
  }

  .common-wrapper {
    padding: 50px;
  }

  .formDiv {
    width: 65%;
  }

  .formDiv textarea {
    width: 55%;
  }
}

@media screen and (max-width: 700px) {
  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 682px) {
  .info_title {
    font-size: 45px;
  }
}

@media screen and (max-width: 670px) {
  .formDiv textarea {
    width: 62%;
  }
}

@media screen and (max-width: 654px) {
  .formDiv {
    width: 70%;
  }
  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 643px) {
  .info_title {
    font-size: 40px;
  }

  .info_desc {
    font-size: 18px;
  }

  .wrapper_info {
    padding: 50px 25px 50px 25px;
  }
}

@media screen and (max-width: 632px) {
  .formDiv textarea {
    width: 63%;
  }
}

@media screen and (max-width: 615px) {
  .formDiv textarea {
    width: 65%;
  }
}

@media screen and (max-width: 632px) {
  .formDiv {
    width: 75%;
  }

  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 579px) {
  .formDiv {
    width: 80%;
  }
  .formDiv textarea {
    width: 61%;
  }
}

@media screen and (max-width: 571px) {
  .other_project_info_top_l,
  .other_project_info_top_r {
    flex-direction: column;
    text-align: center;
  }

  .other_project_info_top_l_l {
    margin: 0 auto;
  }

  .other_project_info_top_l_r h4 {
    margin-top: 10px;
  }

  .featured_project_info_top {
    margin-bottom: 0px;
  }

  .feat_pro_in_top_r,
  .feat_pro_in_bottom_r {
    padding: 0px 10px;
  }

  .feat_pro_in_bottom_l {
    padding: 10px 0;
  }

  .other_project_info_top_l_r p,
  .skill {
    font-size: 12px;
    line-height: 21.8px;
  }

  .other_project_info_top_l,
  .other_project_info_top_r {
    margin-bottom: 20px;
  }

  .other-wrapper {
    padding: 0 50px 50px 50px;
  }

  .formDiv {
    width: 90%;
  }

  .formDiv textarea {
    width: 55%;
  }
}

@media screen and (max-width: 540px) {
  .formDiv textarea {
    width: 57%;
  }
}

@media screen and (max-width: 530px) {
  .formDiv textarea {
    width: 59%;
  }
}

@media screen and (max-width: 519px) {
  .formDiv textarea {
    width: 61%;
  }
}

@media screen and (max-width: 519px) {
  .formDiv textarea {
    width: 63%;
  }
}

@media screen and (max-width: 500px) {
  .info_title {
    font-size: 36px;
    line-height: 40.2px;
  }

  .contact_form {
    width: 90%;
  }

  .contact_form p {
    font-size: 12px;
  }

  .common-wrapper {
    padding: 25px 50px 25px 50px;
  }

  .about_me_info_right img {
    width: 200px;
    height: 200px;
  }

  .formDiv {
    width: 100%;
  }

  .formDiv lebel {
    margin-right: 5px;
    font-size: 12px;
  }

  .formDiv input {
    width: 150px;
  }

  .feat_pro_in_top_l,
  .feat_pro_in_bottom_r {
    height: 180px;
  }

  .formDiv textarea {
    width: 50%;
  }
}

@media screen and (max-width: 489px) {
  .formDiv textarea {
    width: 52%;
  }
}

@media screen and (max-width: 479px) {
  .formDiv textarea {
    width: 55%;
  }
}

@media screen and (max-width: 459px) {
  .formDiv textarea {
    width: 58%;
  }
}

@media screen and (max-width: 449px) {
  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 439px) {
  .formDiv {
    padding: 25px 25px;
  }
  .formDiv textarea {
    width: 53%;
  }
}

@media screen and (max-width: 429px) {
  .formDiv textarea {
    width: 54%;
  }
}

@media screen and (max-width: 419px) {
  .formDiv textarea {
    width: 56%;
  }
}

@media screen and (max-width: 412px) {
  .wrapper_info {
    padding: 50px 25px 50px 25px;
  }

  .info_title {
    font-size: 30px;
  }

  .info_desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 409px) {
  .formDiv textarea {
    width: 58%;
  }
}

@media screen and (max-width: 387px) {
  .formDiv {
    width: 100%;
    padding: 25px 10px;
  }

  .formDiv textarea {
    width: 60%;
  }
}

@media screen and (max-width: 346px) {
  .formDiv {
    padding: 25px 2px;
  }

  .formDiv textarea {
    width: 62%;
  }

  .fname,
  .lname,
  .mobile {
    margin-left: 10px !important;
  }

  .email {
    margin-left: 42px !important;
  }

  .formDiv textarea {
    margin-left: 18px;
  }
}

@media screen and (max-width: 336px) {
  .formDiv {
    align-items: center;
  }
  .formDiv > div {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }

  .email {
    margin-left: 4px !important;
  }
}

@media screen and (max-width: 313px) {
  .info_title {
    font-size: 25px;
  }
}
