/* Experience section start */
#experience {
  background: #ffffff;
}
.experience_info {
  margin-top: 50px;
}

.experience_top {
  display: flex;
  margin-bottom: 26px;
  transition: 0.6s ease-in-out;
}

.experience_top:hover,
.experience_bottom:hover {
  padding: 5px;
  border-radius: 5px;
  box-shadow: -5px 7px 23px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 7px 23px 3px rgba(0, 0, 0, 0.75);
}

.experience_top_left {
  flex: 1;
  margin: 20px 20px;
}

.experience_top_left h4,
.experience_top_left h6,
.experience_top_left p {
  margin-left: 0;
}

.experience_top_left h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  display: flex;
  justify-content: flex-end;
}

.experience_top_left h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  display: flex;
  justify-content: flex-end;
}

.experience_top_left hr {
  margin: 13px 0 15px 0px;
  border: 0.5px solid #1f1f1f;
  opacity: 0.5;
}

.experience_top_left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  display: flex;
  justify-content: flex-end;
}

.experience_border {
  border: 1px solid black;
  margin: 8px 35px 0px 0;
  height: 148px;
  opacity: 0.3;
}

.experience_top_right {
  flex: 2;
}

.experience_top_right ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 27.2px;
}

.experience_bottom {
  display: flex;
  transition: 0.6s ease-in-out;
}

.experience_bottom_left {
  flex: 2;
}
.experience_bottom_left ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 27.2px;
}

.experience_border_sec {
  border: 1px solid black;
  margin: 8px 20px 0px 20px;
  height: 148px;
  opacity: 0.3;
}

.experience_bottom_right {
  flex: 1;
  padding: 25px 0;
}

.experience_bottom_right h4,
h6,
p {
  margin-left: 0px;
}

.experience_bottom_right h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
}

.experience_bottom_right h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.experience_bottom_right hr {
  margin: 13px 40px 14px 0;
  border: 0.5px solid #1f1f1f;
  opacity: 0.5;
}

.experience_bottom_right p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
}
/* Experience section end */

@media screen and (max-width: 1212px) {
  .common-wrapper {
    padding: 100px 220px 100px 220px;
  }
}

@media screen and (max-width: 1186px) {
  .other-wrapper {
    padding: 0 220px 100px 220px;
  }
}

@media screen and (max-width: 1024px) {
  .common-wrapper {
    padding: 50px 120px 50px 120px;
  }

  .title {
    font-size: 30px;
    line-height: 35.57px;
    margin: 0 10px;
  }

  .wrapper {
    flex-direction: column;
  }

  .other-wrapper {
    padding: 50px 120px;
  }

  .experience_top_left h4 {
    padding-left: 8px;
  }

  .experience_top_left h6 {
    padding-left: 8px;
  }

  .experience_bottom {
    display: flex;
    transition: 0.6s ease-in-out;
    margin: 0 auto;
  }
}

@media screen and (max-width: 958px) {
  .experience_top_left p {
    font-size: 12px;
  }
}

@media screen and (max-width: 930px) {
  .experience_top_left h6 {
    font-size: 14px;
  }
}

@media screen and (max-width: 899px) {
  .experience_top_left h6 {
    font-size: 14px;
  }

  .experience_top_left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 875px) {
  .experience_top_left h4,
  .experience_top_left h6,
  .experience_top_left p {
    margin-left: 0px;
    text-align: center;
  }

  .experience_bottom_right p {
    text-align: center;
  }

  .experience_top_left h4 {
    padding-left: 0px;
  }

  .experience_top_left h6 {
    padding-left: 0px;
  }

  .experience_top {
    display: block;
  }

  .experience_top_right ul li,
  .experience_bottom_left ul li {
    list-style: none;
    text-align: justify;
  }

  .experience_top_left hr {
    display: none;
  }

  .experience_border,
  .experience_border_sec,
  .experience_bottom_right hr {
    display: none;
  }

  .experience_bottom {
    flex-direction: column;
  }

  .experience_bottom_right {
    text-align: center;
  }

  .experience_top_left {
    text-align: center;
  }

  .experience_top_right {
    flex: 2;
    text-align: justify;
  }
}

@media screen and (max-width: 868px) {
  p {
    text-align: justify;
  }
  .title_wrapper_featured h2 {
    font-size: 30px;
    line-height: 35s.57px;
  }

  .skill span {
    font-size: 12px;
  }

  .title_wrapper_project hr {
    display: none;
  }

  .other-wrapper {
    padding: 0 120px 100px 120px;
  }

  .other_project_info_top,
  .other_project_info_bottom {
    flex-wrap: wrap;
  }

  .contact_title_wrapper hr {
    display: none;
  }
  .title_wrapper hr {
    display: none;
  }

  .feat_pro_in_top_l,
  .feat_pro_in_bottom_r {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 725px) {
  .common-wrapper {
    padding: 50px;
  }
}

@media screen and (max-width: 571px) {
  .other-wrapper {
    padding: 0 50px 50px 50px;
  }
}
